body {
  margin: 0;
  height: 100vh;

  background: linear-gradient(
    to bottom,
    #2f71c1,
    #091a30
  );
}f
body {
    cursor: url('path_to_your_cursor_image.png'), auto;
}
a:hover {
    cursor: url('path_to_your_link_cursor.png'), pointer;
}